# IGNORE: research/override projects
/*/
# EXCEPT: tx projects & workspace settings
!/tx-*/
!/.vscode/
!/.github/

# CLion
/.idea/
/.clwb/

# Temporary
.*.bazelrc

# OS/caches/temp files
.DS_Store
Thumbs.db
*.bak
*.tmp
*.log
