# ALL: location for working projects
#/*/
/lwlog/
# EXCEPT: workspace settings
!/.vscode/

# CLion
/.idea/
/.clwb/

# Temporary
.*.bazelrc

# OS/caches/temp files
.DS_Store
Thumbs.db
*.bak
*.tmp
*.log
